body {
font-family: Roboto, sans-serif;
background-color: #ffffff;
}

.header {
    background-color: #1f2937;
}

.nav-list {
    background-color: #1f2937;
    width: 100%;
    margin: 0;
    padding: 1rem 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style: none;
}

.nav-list {
    background-color: #1f2937;
    display: flex;
}

a {
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    display: flex;
    margin: 30px;

}

.hero-left {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

.hero-right {
    padding: 10px;
    display: flex;
    width: 50%;
    flex-grow: 2;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-subtext {
    font-size: 18px;
    color: #f9faf8;
}

.signup-button {
    background-color: #3882f6;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-top {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-cards {
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.card {
padding: 5px; 
border-color: #3882f6;
}

.testimonial {
    background-color: #e5e7eb;
    padding: 15%;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    }

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

.signup-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-box {
    padding: 12px;
    border-radius: 10px;
    width: 60%;
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
}

.signup-top {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.signup-bottom {
    font-size: 14px;
    color: #e5e7eb
}

.signup-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button-bottom {
    padding: 8px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    background-color:#3882f6
}